http://localhost:3000/api/users/1?api-key=perscholas


http://localhost:3000/api/users?api-key=perscholas

http://localhost:3000/api/posts?userId=2&api-key=perscholas


http://localhost:3000/api/posts/1?api-key=perscholas

http://localhost:3000/api/users/1?api-key=perscholas